.App {
  display: block;
  height: 100%;
}

.Navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.small-screen {
  display: none;
}

.Logo {
  padding: 20px;
  display: inline-block;
}

.Logo img {
  height: 30px;
  display: inline-block;
}

.Search {
  padding: 20px;
  float: right;
  height: 100%;
}

.Search input {
  border-radius: 6px;
  height: 30px;
  padding: 10px;
  border: 1px solid #b2b2b2;
}

.Menu {
  padding: 10px;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;
}

.Menu a {
  color: inherit; 
  text-decoration: inherit;
}

.Menu-item {
  padding: 10px 25px 10px 25px;
  display: flex;
  align-items: center;
  cursor: pointer;  
}

.Menu-item:hover {
  color: #4fc1a1;
  text-shadow: 5px rgba(0,0,0,0.25)
}

.Menu .material-icons {
  padding-right: 20px;
}

.header {
  width: 100%;
  color: #ffffff;
  text-shadow: .25px 1px rgba(0,0,0,0.25);
  text-align: center;
}

.header h1 {
  display: inline-block;
  margin-right: 20px;
}

.teleport {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #333333;
  border-radius: 6px;
  padding: 10px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: block;
  vertical-align: 5px;
  margin: auto;
}

.teleport:hover {
  background-color: #4fc1a1;
  color: #ffffff;
  border: 1px solid #ffffff;
}

.Feed {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 20px;
  min-height: 100%;
  height: fit-content;
  width: 100%;
  background-image: linear-gradient(120deg, #b8edde, #4fc1a1);
}

.Product-item {
  border-radius: 6px;
  padding: 20px;
  text-align: center;
  margin: 20px;
  margin-top: 20px;
  height: max-content;
  width: max-content;
  min-width: 300px;
  min-height: 285px;
  display: inline-block;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  cursor: pointer;
}

.Product-item:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.not-liked:hover {
  transform: scale(1.2);
  color: #4fc1a1
}

.Product-item img {
  display: block;
  margin: 20px auto 20px auto;
  max-width: 150px;
  max-height: 150px;
}

.product-price {
  font-weight: 200;
  font-size: 12px;
  margin: 10px;
}

.liked {
  display: block;
  float: right;
  color: #f8c306;
  text-shadow: 1px 1px 1px 1px #333333;
}

.not-liked {
  display: block;
  float: right;
}

.Explore {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  padding: 20px;
  min-height: 100%;
  height: fit-content;
  width: 100%;
  background-image: linear-gradient(120deg, #b8edde, #4fc1a1);
}

.Store {
  border-radius: 6px;
  padding: 20px;
  text-align: center;
  margin: 20px;
  margin-top: 20px;
  height: max-content;
  width: max-content;
  min-width: 60%;
  min-height: 20px;
  display: inline-block;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.Store .distance {
  font-size: 14px;
  color: grey
}

.Store .material-icons {
  display: inline-block;
  vertical-align: -2px;
  font-size: 14px;
}

.Favorites {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  padding: 20px;
  min-height: 100%;
  height: fit-content;
  width: 100%;
  background-image: linear-gradient(120deg, #b8edde, #4fc1a1);
}

.FavItem {
  border-radius: 6px;
  padding: 20px;
  text-align: center;
  margin: 20px;
  margin-top: 20px;
  height: max-content;
  width: max-content;
  min-width: 300px;
  min-height: 100px;
  display: inline-block;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.loader {
  display: block;
  float: right;
  border: 5px solid #ffffff; 
  border-top: 5px solid #4fc1a1; 
  border-bottom: 5px solid #4fc1a1;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 540px) {
  .Menu {
    display: none;
  }

  .Search {
    display: none;
  }

  .small-screen {
    display: inline-block;
    font-size: 50px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-left: 20px;
  }

  .small-screen:hover {
    transform: scale(1.5  );
  }
}

